:root {
  --black: #090a07;
  --gold: #bea64d;
  --gray: #f5f5f5;
  --text-color: #333;
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Header css */

.header {
  display: flex;
  background-color: var(--black);
}

.menu{
  width: 50%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  position: relative;
  color: var(--gold);
  font-size: 1.6rem;
  padding: 10px;
  text-transform: uppercase;
  transition: color 0.3s;
  text-align: center;
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--gold);
  transition: width 0.3s;
}

.menu a:hover::after,
.menu a:focus::after,
.menu a:active::after {
  width: 100%;
}

.top-links {
  display: flex;
  gap: 20px;
}

.bottom-link {
  margin-top: 10px;
}

.bottom-link a {
  display: block;
  width: 100%;
}

.logo {
  width: 50%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

/* Tiles css */

.container {
  background-color: var(--gray);
}

/* Wspólny nagłówek */
.heading {
  background-color: var(--black);
  color: var(--gold);
  padding: 20px 20px;
  text-align: center;
  font-family: 'Lora', serif;
}

.heading-text {
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--gold);
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

.tile {
  background-color: var(--black);
  color: var(--gold);
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: pre-line;
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.spec-bottom {
  font-style: bold;
  text-align: center;
  font-size: 1.2rem;
  color: var(--black);
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: bold;
}

/* Pojedyncze strony */
main {
  /* background: linear-gradient(to right, #999999, #f2f2f2 50%, #999999); */
  background-color: var(--gray);
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  line-height: 1.75;
  margin: 0 auto;
  padding: 1rem;
  color: var(--text-color);
  text-align: justify;
  letter-spacing: 0.5px;
}

.bankowe-list-ul {
  list-style-type: disc;
}

/* Strona główna */
.strona-glowna, .bankowe, .spadek, .cywilne, .umowy, .gospodarcze, .ofe {
  width: 80%;
  margin: 0 auto;
}

.benefits-list {
  list-style: none;
  padding-left: 0;
}

.benefits-list li::before {
  content: "✓"; 
  margin-right: 0.5em;
}

/* Linia na dole strony */
.bottom-text {
  border-top: var(--black) 1px solid;
  padding-top: 20px;
}

/* O mnie */
.o-mnie-heading {
  font-size: 1.4rem;
}

.o-mnie img {
  width: 20%;
  height: 80%;
  margin-top: 1em;
}

.text {
  display: block;
  width: 60%;
}

.o-mnie {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}

.o-mnie ul {
  padding-left: 20px;
}

/* Contact */

.contact-details {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.contact-details a {
  color: var(--gold);
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container {
  background-color: var(--gray);
  width: 35%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-info {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  color: var(--text-color);
  text-align: start;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #b3afaf;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  margin-top: 20px;
  background-color: var(--gold);
  color: var(--text-color);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #9f893c;
}

/* Stopka */

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: var(--gold);
  font-size: 16px;
}

.footer-image {
  display: block;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 950px) {
  /* Header */
  .header {
    flex-direction: column-reverse;
  }

  .menu {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .logo {
    width: 90%;
    height: auto;
  }

  .top-links {
    flex-direction: column;
    justify-content: center;
  }

  .bottom-link {
    display: flex;
    justify-content: center;
  }

  /*Contact */
  .contact-and-form {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-details {
    font-size: 1.2rem;
  }

  .footer-image {
    width: 80%;
  }

  .form-container {
    width: 70%;
  }

  .form-group {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
    text-align: center;
  }

  .footer {
    font-size: 14px;
  }

  /* Pojedyncze strony */
  main{
    font-size: 1rem;
  }

  .benefits-list li {
    display: flex;
    align-items: flex-start;
  }


  .benefits-list li::before {
    display: inline-flex;
    align-items: flex-start;
    flex-shrink: 0;
  }


  /* Tiles */

  .tile {
    font-size: 1rem;
    text-align: center;
  }

  /* Wspólny nagłówek */
  .heading-text {
    font-size: 2.5rem;
  }
}