@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8vh;
  text-wrap: pretty;
}

.suptitle {
  display: block;
  width: fit-content;
  margin: 0 auto 50px;
  
  color: var(--gold-dark);
  text-decoration: none;
  position: relative;
}

.suptitle::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%; 
  margin: 8px auto 0;
  background: linear-gradient(90deg, transparent, var(--gold), var(--gold-light), var(--gold), transparent);
}

:root {
  --gold: #c5a059;
  --gold-light: #f5e1a4;
  --gold-dark: #8a6d3b;
  --black: #000000;
  --gray: #f3f0ee;
  --text-color: #333;
  font-family: 'Garamond';
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heroMove {
  0% {
    background-size: 110%;
    background-position: center;
  }
  50% {
    background-size: 115%;
    background-position: center top;
  }
  100% {
    background-size: 110%;
    background-position: center;
  }
}

body {
  margin: 0;
}

/* Header css */

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 5vh;
  
  background-image: 
    linear-gradient(to bottom, rgba(26, 26, 26, 0.95), rgba(0, 0, 0, 1)),
    url("https://www.transparenttextures.com/patterns/stardust.png");
  
  border-top: 3px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, var(--gold-dark), var(--gold), var(--gold-light), var(--gold), var(--gold-dark)) 1;

  padding: 12px 10%;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:nth-child(3) {
  white-space: nowrap;
}

/* main {
  text-wrap: pretty;
  scroll-margin-top: 8vh;
} */

.nav-item a {
  text-decoration: none;
  color: var(--gold);
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0 25px;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.nav-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background: linear-gradient(to bottom, transparent, var(--gold) 50%, transparent);
  opacity: 0.5;
}

.hero-section {
  display: flex;
  width: 100%;
  min-height: 360px;
  align-items: center;
  position: relative; /* Kluczowe: pozwala ustawić tło pod spodem */
  overflow: hidden;    /* Zapobiega "wylewaniu" się rozmazanych krawędzi */
  border-bottom: 3px solid var(--gold);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(to bottom, var(--black) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.7) 60%, var(--black) 100%),
    url('img/tlo.png') no-repeat center center;
  background-size: cover;
  
  /* Efekt rozmazania */
  filter: blur(4px);
  transform: scale(1.1);
  z-index: 1;
}

.hero-text-wrapper, 
.hero-logo-wrapper {
  position: relative;
  z-index: 2;
}

.hero-text-wrapper {
  flex: 0 0 55%;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 2rem;
  margin: 0;
  white-space: nowrap;
  font-weight: normal;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.fading-gold-line {
  height: 1px;
  width: 100%;
  margin: 15px auto;
  background: linear-gradient(90deg, transparent, var(--gold), var(--gold-light), var(--gold), transparent);
}

.title-underline {
  width: fit-content;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 1rem;
  opacity: 0.9;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s both;
  color: var(--gold-light)
}

.logo-img {
  flex: 0 0 45%;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 40px;
  object-fit: contain;
}

.strona-glowna {
  font-size: 18px;
}

.strona-glowna b {
  font-size: 1.4rem;
}

.row {
  display: flex;
  justify-content: space-between; /* To kluczowa zmiana */
  align-items: flex-start;       /* Opcjonalnie: wyrównanie do góry */
}

.col {
  flex: 0 1 45%;
}

/* .home-col ul li {
  display: inline-block;
} */

.moving-background {
  position: relative;
  height: 100vh;
  background-image: url("img/zdj.png");
  background-size: 110%;
  background-position: center;
  animation: heroMove 32s ease-in-out infinite;
  overflow: hidden;
}

.moving-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
}

/* Privacy Policy */

.privacy-policy-link {
  color: var(--gold);
  margin-top: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

.privacy-policy h3 {
  text-align: center;
}

.policy-return-link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

/* Tiles css */

.container {
  background-color: var(--gray);
}

/* Wspólny nagłówek */
.heading {
  background-color: var(--black);
  color: var(--gold);
  padding: 20px 20px;
  text-align: center;
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
}

.heading-text {
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--gold);
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.tiles {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

.tile {
  background-color: var(--black);
  color: var(--gold);
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: pre-line;
  border: 1px solid var(--gold);
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.spec-bottom {
  text-align: center;
  font-size: 1.2rem;
  color: var(--gold);
  border: 1px solid var(--gold);
  border-radius: 16px;
  background-color: var(--black);
  width: 50%;
  padding: 20px 10px;
  margin: 0 auto;
  font-weight: bold;
}

/* Pojedyncze strony */
main {
  background-color: var(--gray);
  font-size: 1.25rem;
  line-height: 1.75;
  margin: 0 auto;
  padding: 1rem;
  color: var(--text-color);
  text-align: justify;
  letter-spacing: 0.5px;
}

.bankowe-list-ul {
  list-style-type: disc;
}

/* Strona główna */
.strona-glowna, .bankowe, .spadek, .cywilne, .przesyl, .gospodarcze, .ofe,.privacy-policy {
  width: 80%;
  margin: 0 auto;
}

.benefits-list {
  list-style: none;
  padding-left: 0;
}

.benefits-list li::before {
  content: "✓"; 
  margin-right: 0.5em;
}

/* Linia na dole strony */
.bottom-text {
  border-top: none; 
  
  background-image: linear-gradient(
    to right, 
    transparent, 
    #c7c4c4 5%, 
    #c7c4c4 95%, 
    transparent
  );
  
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: 100% 1px;
  padding-top: 20px;
  text-align: center;
}

/* O mnie */
.o-mnie-heading {
  font-size: 1.4rem;
}

.o-mnie img {
  width: 20%;
  height: 80%;
  margin-top: 1em;
}

.text {
  display: block;
  width: 60%;
}

.o-mnie {
  font-size: 18px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}

.o-mnie ul {
  padding-left: 20px;
}

/* Contact */

.contact-details {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.contact-details a {
  color: var(--gold);
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

p {
  text-wrap: pretty;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container {
  background-color: var(--gray);
  width: 35%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.acceptance {
  line-height: 1.4;
}

#consent {
  float: left;             
  width: 14px;             
  height: 14px;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.acceptance label {
  display: block;
  cursor: pointer;
  font-size: 15px;
}

.acceptance::after {
  content: "";
  display: table;
  clear: both;
}

.contact-info {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  color: var(--text-color);
  text-align: justify;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #b3afaf;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  margin-top: 20px;
  background-color: var(--gold);
  color: var(--text-color);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #9f893c;
}

u {
  text-decoration-color: var(--gold);
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

.home-background {
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 250, 250, 0.95) 10%,
      rgba(169, 149, 72, 0.5) 95%,
      rgba(169, 149, 72, 0.5) 100%
    );
  /* padding: 6rem 0; */
}

.o-mnie-background {
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 250, 250, 0.95) 10%,
      rgba(169, 149, 72, 0.5) 95%,
      rgba(169, 149, 72, 0.5) 100%
    );
  /* padding: 6rem 0; */
}

.spec-background {
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 250, 250, 0.95) 10%,
      rgba(169, 149, 72, 0.5) 100%
    );
  /* padding: 6rem 0; */
}

/* Stopka */

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--black);
  color: var(--gold);
  font-size: 16px;
}

.footer-image {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.header-with-line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-with-line span {
  display: inline-block;
  padding-bottom: 5px;
  background-image: linear-gradient(
    to right, 
    transparent, 
    #c7c4c4 5%, 
    #c7c4c4 95%, 
    transparent
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
}

.header-with-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(
    to right, 
    transparent, 
    #c7c4c4 5%, 
    #c7c4c4 95%, 
    transparent
  );
}

/* Klasa tylko do podkreślenia tekstu */
.underline-text {
  display: inline-block;
  padding-bottom: 5px;
  background-image: linear-gradient(
    to right, 
    transparent, 
    #c7c4c4 5%, 
    #c7c4c4 95%, 
    transparent
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
}

.underline-paragraph {
  text-decoration: none;
  background-image: linear-gradient(
    to right, 
    transparent, 
    #c7c4c4 5%, 
    #c7c4c4 95%, 
    transparent
  );
  
  background-repeat: no-repeat;
  background-size: 100% 1px;
  
  background-position: bottom center; 
  padding-bottom: 20px;
  
  margin-bottom: 20px; 
}

@media only screen and (max-width: 950px) {
  html {
    scroll-padding-top: 5vh;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }
  /* Header */
  .hero-section {
    flex-direction: column;
    padding: 60px 0;
    text-align: center;
  }

  .hero-title {
    white-space: normal;
    font-size: 1.5rem;
  }

  .navbar-container {
    justify-content: center;
    padding-left: 0;
  }

  .navbar-container {
    padding: 0;
  }

  .nav-menu {
    width: 100%; /* Upewniamy się, że menu zajmuje całą szerokość */
  }

  .nav-item a {
    padding: 0 10px;
    font-size: 0.7rem;
    flex: 1;
    text-align: center;
  }

  .header-with-line::after {
    display: none;
  }

  /*Contact */
  .contact-and-form {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-details {
    font-size: 1.2rem;
  }

  .footer-image {
    width: 80%;
  }

  .form-container {
    width: 70%;
  }

  .form-group {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
    text-align: center;
  }

  .footer {
    font-size: 14px;
  }

  /* Pojedyncze strony */
  main{
    font-size: 1rem;
  }

  .benefits-list li {
    display: flex;
    align-items: flex-start;
  }


  .benefits-list li::before {
    display: inline-flex;
    align-items: flex-start;
    flex-shrink: 0;
  }


  /* Tiles */

  .tile {
    font-size: 1rem;
  }

  /* Wspólny nagłówek */
  .heading-text {
    font-size: 2.5rem;
  }
}

